.deck {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 320px;
    margin: 0 auto;
}

.ia_deck {
    margin: 0;
    position: absolute;
    max-width: 480px;
    width: 480px;
    top: 0;
    left: 50%;
    opacity: 0.75;
    transform: scale(0.5) translate(-100%, -100%) rotate(180deg);
}