.container {
    max-width: 480px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.deck {
    width: 100%;
    display: flex;
    justify-content: center;
}