.card, .card_active {
    width: 82px;
    height: 128px;
    margin: 0;
    padding: 8px;
    background-color: var(--primary-font-color);
    border-radius: var(--border-radius);
    border: solid 4px var(--primary-font-color);
    font-family: var(--font);
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.card {
    background-image: var(--card-color);
}

.top_back{
    border-top: solid 3px var(--primary-font-color);
    border-left: solid 3px var(--primary-font-color);
    width: 16px;
    height: 16px;
    align-self: start;
}

.txt_back {
    font-size: 1.5rem;
    text-align: center;
    color: var(--primary-font-color);
}

.bottom_back{
    border-bottom: solid 3px var(--primary-font-color);
    border-right: solid 3px var(--primary-font-color);
    width: 16px;
    height: 16px;
    align-self: end;
}

.red {
    color: var(--red-card);
}

.icon {
    max-width: 24px;
    max-height: 32px;
    align-self: center;
}

.bottom {
    align-self: end;
    transform: rotate(180deg);
}